*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

svg {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-right: 76px; */
  text-decoration: none;
  justify-content: flex-start;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-part1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.header-nav-list {
  /* display: flex; */
  display: none;
  gap: 40px;
  align-items: center;
}

.header-item {
  display: block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
}

.header-item:hover {
  color: #404bbf;
}

.header-nav:hover,
.header-nav:focus {
  color: #404bbf;
}

.address {
  margin-left: auto;
  display: none;
}

.address-list {
  display: flex;
  align-items: center;
  font-style: normal;
  gap: 40px;
}

.address-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.mob-menu-btn-open {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.icon-menu-btn-open {
  fill: #2f2f37;
}

/* section 1 */

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.main-section {
  background: #2e2f42;
  padding-bottom: 72px;
  padding-top: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  margin: 0 auto;
}

@media (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

.order-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background: #4d5ae5;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

/* about us */

.about-us {
  /* padding: 120px 0; */
  padding: 96px 0;
}

.seconary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.about-us-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
}

.about-us-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

.about-us-title {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.about-us-p {
  /* font-weight: 400; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .about-us-icon-container {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
} */

.about-us-icon {
  /* display: flex; */
  display: none;
  /* justify-content: center;
  align-items: center; */
}

/* our team */

.team-main-title {
  margin: 0 auto 72px;
}

.our-team {
  background: #f4f4fd;
  /* padding-bottom: 120px; */
  /* padding-top: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  justify-content: center;
}

.team-photo {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  width: 264px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-name {
  padding: 32px 0;
}

.team-memver-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-memver-soc-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.team-member-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}

.team-member-link:hover,
.team-member-link:focus {
  background-color: #404bbf;
}

/* portfolio */

.portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio-title {
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 48px 24px; */
  gap: 48px;
}

.portfolio-text {
}

.team-overlay {
  position: relative;
  overflow: hidden;
}

.team-photo {
  height: 280px;
}

.our-projects {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-card {
  /* width: calc((100% - 48px) / 3); */
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  /* transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.portfolio-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay {
  display: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  transition: transform 250ms ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-card:hover .overlay {
  transform: translateY(0%);
} */

/* .portfolio-card:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
} */

/* footer  */

.footer {
  background-color: #2e2f42;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-content {
  /* margin-right: 120px; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /* max-width: 264px; */
  max-width: 288px;
  /* padding-left: 16px; */
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-soc-container {
  max-width: 208px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-soc-media {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  /* margin-left: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.footer-email {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  border: 1px solid #fff;
  border-radius: 4px;
  /* width: 264px; */
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-email::placeholder {
  color: #ffffff;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}

.send-icon {
  fill: #fff;
  margin-left: 16px;
}

/* modal */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-ope {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  /* width: 408px;
  min-height: 584px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.cancel-icon {
  fill: #2e2f42;
  margin: auto auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cancel-btn:hover .cancel-icon {
  fill: #ffffff;
}

.modal-cancel-btn:focus .cancel-icon {
  fill: #ffffff;
}

.modal-cancel-btn {
  top: 24px;
  right: 24px;
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cancel-btn:hover,
.modal-cancel-btn:focus {
  border: none;
  background-color: #404bbf;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 24px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-textarea {
  margin-bottom: 16px;
}

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.checkbox-modal {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox-field input[type="checkbox"]:checked + label span {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

input[type="checkbox"]:checked + label {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 120px;
  }

  .mob-menu-btn-open {
    display: none;
  }

  .header-nav-list {
    display: flex;
  }

  .address {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .address-list {
    flex-direction: column;
    gap: 12px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  .main-section {
    padding-bottom: 112px;
    padding-top: 112px;
    min-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab@2x.jpg);
    }
  }

  .about-us-list {
    /* gap: 24px 72px; */
    column-gap: 24px;
    row-gap: 72px;
  }

  .about-us-item {
    width: calc((100% - 24px) / 2);
    padding-right: 0;
  }

  .about-us-title {
    text-align: left;
  }

  .about-us-p {
    max-width: 356px;
  }

  .our-team .container {
    width: 584px;
  }

  .team-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .team-card {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .team-photo {
    height: 300px;
  }

  .portfolio-card {
    width: calc((100% - 24px) / 2);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .footer-container {
    gap: 72px 24px;
    justify-content: start;
    padding-left: 108px;
  }

  .footer-content {
    display: inline-block;
  }

  .footer-p {
    min-width: 264px;
  }

  .footer-soc-container {
    display: inline-block;
  }

  .footer-subscribe {
    display: inline-block;
  }

  .footer-email {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-title {
    margin-bottom: 48px;
  }

  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .main-section {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2x.jpg);
    }
  }

  .about-us {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-us-list {
    gap: 24px;
  }

  .about-us-item {
    width: calc((100% - 72px) / 4);
  }

  .about-us-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .about-us-p {
    font-weight: 400;
  }

  .about-us-icon-container {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .about-us-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .our-team .container {
    width: 1158px;
  }

  .our-team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-card {
    width: calc((100% - 72px) / 4);
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }

  .team-photo {
    height: 300px;
  }

  .overlay {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    transition: transform 250ms ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-card:hover .overlay {
    transform: translateY(0%);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
  }

  .footer-content {
    margin-right: 120px;
  }

  .footer-subscribe {
    margin-left: auto;
  }

  .subscribe-form {
    justify-content: start;
    flex-wrap: nowrap;
  }

  .footer-email {
    opacity: 1;
    width: 264px;
  }
}
